.nav {
    display: flex;
    list-style: none;
    justify-content: space-around;  
    padding: 0px;
    flex-direction: row-reverse;
}
.container {
    display: flex;
    flex-flow: row wrap;      
}
.animal {
    display:flex;
    flex-basis: 25%;
    flex-direction: column-reverse;
}
img {
    width: 250px;
}